.main_change_password{
    display: flex;
   margin-bottom: 12rem;
    align-items: center;
}

.btn_div_change_password{
    display: flex;
    margin-top: 11px;

}
.ChangePassword_btn{
    background: #e96d00;
    border: none;
    color: white;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    height: 30px;
    border-radius: 5px;
}

.cancel_btn_password{
    margin-left: 17px;
    border: none;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 5px;
}

.opt_div_text {
    margin-top: 7px;
}


.opt_div_text p{
    font-size: 15px;
}

.showpassworddsignup1{
    position: absolute;
    top: 39px;
    left: 224px;
    list-style: none;
}


.showpassworddsignup2{
    position: absolute;
    top: 39px;
    left: 224px;
    list-style: none;
}


.showpassworddsignup3{
    position: absolute;
    top: 39px;
    left: 224px;
    list-style: none;
}

.inner-input-divforget{
    display: flex;
    flex-direction: column;
    position: relative;
}

.inner-input-divforget input{
    width: 263px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #613916;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 1rem;
}

.inner-input-divforget label{
    font-family: "Imprima";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 29px;
    color: #827b7b;
    margin-bottom: 3px;
}

.showpassworddsignup20 {
    position: absolute;
    top: 39px;
    left: 224px;
    list-style: none;
}