.main_center_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrollbarrrr{

    height: 500px;
    overflow: auto;
    overflow-x: hidden;
    margin: 0 auto;
    white-space: nowrap
}