.cash-donation-div {
  margin-left: 267px;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 734px;
}
.cash-donation-container {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  place-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */

  line-height: 21px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 25%);
}
.cash-donation-container h2 {
    margin-top: 12px;
    margin-bottom: 14px;
    color: black;
    font-weight: 500;
    margin-left: 2px;
}
.cash-donation-container-innser {
  width: 100%;

  flex-wrap: wrap;
  place-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 21px;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 25%);
}

.cash-donation-container-innser h2 {
  text-align: center;
  color: #1c1cd8;
}

.form-div {
}

.form-input-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.forminput {
  height: 29px;
  width: 214px;
  padding-left: 6px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 11px;
  margin-bottom: 12px;
}

.forminput:focus {
  outline: none;
}
.table-cash-donation {
  width: 100%;
}
.table-cash-donation,
th,
td {
  border-collapse: collapse;
  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
}
.forminput1 {
    height: 42px;
    width: 333px;
    padding-left: 6px;
    border-radius: 5px;
    border: 1px solid black;
   
}

.forminput1:focus{
    outline: none;
}
.phone-div-input{
    padding-bottom: 51px;
}

.receipt-div-input{
    padding-bottom: 74px;
}

.add-btn-cash{
    background: #22c322;
    border: none;
    color: white;
    height: 31px;
    width: 151px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
}
