.mainplaceorder {
  padding-left: 20px;
  padding-right: 20px;
}
.divcontentplaceorder {
  background-color: #d9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;
}
.choosediv {
  display: flex;
  background: #f4f8fc;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-right: 20px;
  border-top-left-radius: 12px;
  height: 45px;
  align-items: center;
}

.chooseplan {
  margin-top: 25px;
    margin-left: 80px;
}
.choosetext {
  background-color: #c8d6f5;
    margin-left: 87px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    height: 40px;
}

.imgorder {
  width: 25px;
  margin-right: 10px;
}

.imgplan {
  width: 25px;
  margin-right: 4px;
}
.choosetext1 {
 background-color: #c8d6f5;
    margin-left: 50px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 20px;
    height: 40px;
}
.textchoose {
  font-weight: 600 !important;
  height: 61px;
  font-size: 22px !important;
  font-weight: 400 !important;
}

.textchoose1 {
  font-weight: 400 !important;
  font-size: 22px !important;
  font-weight: 400 !important;
}
.orderdivselect {
  display: flex;
}
.freediv {
  display: flex;
}
.freetext {
  background-color: #f4f8fc;
  border-top: 1px solid #d9d9d9;
  width: 250px;
  height: 38px;
}
.freetext1 {
  background-color: #f4f8fc;
  border-top: 1px solid #d9d9d9;
  width: 250px;
  height: 38px;
  border-bottom-left-radius: 20px;
}
.featuresdiv {
  padding-left: 20px;
  padding-top: 10px;
}

.selectdiv {
  margin-top: 30px;
}

.select {
  border: none;
  width: 400px;
  height: 30px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-left: 80px;
}
.select:focus {
  border: none;
}
.feature {
  font-size: 22px !important;
  font-weight: 400 !important;
}

.imgtext {
  font-size: 22px !important;
  font-weight: 400 !important;
}
.orderbtn {
  border: none;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #e84545;
  color: white;

  margin-left: 160px;
  height: 45px;
 
  font-size: 20px;
}

.userlistmain {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.dropdown {
  position: relative;
  color: #333;
  cursor: default;
}
.dropdown .arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 11px 11px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  right: px;
  top: 17px;
  width: 0;
  left: 350px;
}
.dropdown .arrow.open {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
  display: none;
}

.dropdown .selected-value input {
  line-height: 1.5;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 50px;
    font-size: 25px;
    width: 400px;
}
.dropdown .options {
  /* display: none; */
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgb(0 0 0 / 6%);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 487px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  -webkit-overflow-scrolling: touch;
  width: 400px;
  margin-left: 21px;
}

.dropdown .options.open {
  display: block;
}
.dropdown .option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  border-bottom: 1px solid gray;
  font-size: 17px;
}

.dropdown .option.selected,
.dropdown .option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.mobileplace {
  font-size: 45px !important;
  margin-bottom: 5px !important;
}
.orderimgg {
  width: 30px;
  margin-right: 10px;
}

.arrowicon {
  width: 30px;

  margin-right: 10px;
}
.mobileplaceshow {
  display: none;
}
@media screen and (max-width: 780px) {
  .mobileuserlist {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .choosediv {
    display: none;
  }

  .freemobilehide {
    display: none;
  }

  .mobileplace {
    display: none;
  }
  .mobileplaceshow {
    display: block;
    font-size: 25px;
    margin-left: 20px;
    font-weight: 700;
  }
  .orderdivselect {
    display: block;
  }

  .freediv {
    display: block;
  }
  .choosetext {
    display: none;
  }
  .choosetext1 {
    display: none;
  }
  .featuresdiv {
    padding-right: 0px;
    margin-left: 30px;
  }

  .orderbtn {
    margin-left: 0px;
    width: 100%;
  }

  .select {
    margin-left: 0px;
    width: 100%;
  }

  .mainplaceorder {
    padding-bottom: 20px;
  }

  .divdropdown {
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
  }
  .choosediv {
    width: 100%;
  }

  .dropdown .selected-value input {
    width: 307px;
    font-size: 20px;
    height: 45px;
  }

  .dropdown .arrow {
    border-width: 5px 5px 0;
    top: 15px;
    left: 270px;
  }

  .dropdown .options {
    max-height: 307px;

    width: 307px;
  }

  .dropdown .option {
    padding: 3px 2px;

    height: 45px;
    width: 306px;
    font-size: 15px;
  }

  .orderbtn {
    padding-left: 70px;
    padding-right: 70px;
    height: 45px;
    width: 307px;
    font-size: 15px;
  }

  .arrowicon {
    width: 20px;
  }

  .mainplaceorder {
    background-color: #f5f5f5;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
