.select_optionssss {
  width: 280px;
  height: 35px;
  background: linear-gradient(180deg, #f2eeeb 0%, #ededed 100%);
  border-radius: 7px;
}

.main_div_radio_optionss {
  display: flex;

  align-items: center;
}

.main_dic_checkbox_options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
