@import "../../../../utils//variables";

.create-container{
    width: 100%;
    height: calc(100vh - 64px);
    display: grid;
    place-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    .create-form {
        min-width: 350px;
        min-height: 490px;
        border-radius: 10px;
        background: $primary-color;
        color: $input-text-color;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        
      }
      .sendotp{
        margin: 70px 0 0 0;
        width: 100%;
    }
  
}

.create-form{
    .heading {
        margin-top: 20px;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
    }
    p{
        width: 88%;
        color: $input-text-color;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: left;
    }
    .unorderlist{
      
      position: absolute;
      top: 90px;
      left: 0;
      padding-left: 36px;
      color: #525252;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
    }
    .input-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
        padding-inline: 1.5rem;
        width: 100%;
        input {
          border: 0.8px solid $input-placeholder-color;
          padding: 0.5rem 0.9rem;
          border-radius: 0.5rem;
          &::placeholder {
            color: $input-placeholder-color;
          }
        }
    
        & > div {
          font-size: 10px;
          line-height: 15px;
        }
        .login-btn {
          text-decoration: none;
          text-align: center;
          background: $secondary-color;
          font-weight: 500;
          margin-top: 65px;
          color: $primary-color;
          font-size: 14px;
          line-height: 21px;
          padding: auto 0.5rem;
          outline: none;
          border: none;
          padding: 0.5rem;
          border-radius: 0.5rem;
        }
      }
}