.inner-input-div1-select12 {
    height: 27px;
    /* width: 120px; */
    border-radius: 5px;
    padding-left: 6px;
    border: 1px solid black;
}
.inner-input-div1-select12:focus{
    outline: none;
}