.main_room_availabilty {
  position: relative;

  height: 448px;
}

.form_div_absolute {
  width: 80%;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgb(0 0 0 / 12%);
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  width: 100px;
  top: 60%;
  left: 4%;
  padding: 1%;
  width: 92%;
  padding-left: 2.8%;
  border-radius: 47.5px;
  height: 95px;
}

.form_btn_div {
  width: 100%;
  display: flex;
  padding-right: 14%;
  height: 100%;
  justify-content: space-evenly;
}

.main_div_select_div {
  width: 189px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.select_person_div {
  width: 167px;
  height: 26px;

  background: linear-gradient(180deg, #f2eeeb 0%, #ededed 100%);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-left: 4%;
  padding-right: 4%;
}

.main_slelct_child {
  display: flex;
  justify-content: space-between;
  width: 262px;
}
.form_div_absolute p {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.form_div_absolute_form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form_div_absolute_form button {
  width: 100%;
  height: 35px;
  border: none;
  background: rgba(250, 116, 1, 0.8);
  border-radius: 5px;
  color: white;
}
.img_div_room_card {
  display: flex;
  align-items: center;
  width: 50%;
}
.img_div_room_card img {
  width: 170px;
  height: 110px;
  border-radius: 5px;
}
.input_div_room_main {
  width: 30%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
.room_book_card_form_main {
  padding-top: 10%;
}
.room_book_card_form_main p {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
}

.room_book_card_main_content {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
.room_book_card_main_center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  flex-wrap: wrap;
}
.room_book_card_main {
  width: 78%;
  height: 132px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.12);
  border-radius: 10px;

  margin-bottom: 2%;
}
.btn_Book_Now {
  width: 171px;
  height: 51px;
  background: #fa7401;
  border-radius: 5px;
  border: none;
  color: white;
}

.btn_View_Details {
  width: 171px;
  height: 51px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  border: none;
  border: 1px solid #fa7401;
  border-radius: 5px;
  color: #fa7401;
}

.img_div_room_card_price_div {
  margin-left: 4%;
}
.btn_Book_Now_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33%;
}

.room_home_main {
  content: '';
  position: absolute;
  background: url('../../../assets/dharmshalahome.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 330px;
}
.form_div_absolute10 {
  background: #ffffff;
  box-shadow: 0px 10px 60px rgb(0 0 0 / 12%);
  border-radius: 10px;
  position: relative;
  z-index: 1;
  top: 60%;
  left: 4%;
  padding: 1%;
  width: 92%;
  padding-left: 2.8%;

  border-radius: 47.5px;
  height: 95px;
}

.main_div_head_tyopeeee {
  padding-top: 7rem;
  padding-bottom: 2rem;
  background-color: #fdc99c;
}
.room_home_main_overlay {
  position: absolute;
  background: linear-gradient(
    90.05deg,
    rgba(78, 38, 4, 0.6) 28.23%,
    rgba(132, 69, 15, 0) 99.95%
  );
  width: 100%;
  height: 330px;
  color: white;
  padding-top: 1%;
  padding-left: 7%;
}
.room_home_main_supper {
  height: 360px;
  position: relative;
}
.font_text_color {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
}

.font_text_color_p {
  color: white;
  margin-top: 2%;
}
.Reservation_main_div {
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  flex-wrap: wrap;
}

.card_dharamShala {
  width: 337px;
  height: 363px;
  margin-bottom: 8%;
  background: #ffffff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_dharamShala img {
  width: 337px;
  height: 230px;
  border-radius: 20px 20px 0px 0px;
}
.card_dharamShala img:hover {
  height: 220px;
  width: 327px;
  transition: 0.1ss ease;
}

.conent_btn_div {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.conent_btn_div button {
  width: 201px;
  height: 40px;
  background: rgba(250, 116, 1, 0.8);
  border-radius: 5px;
  border: none;
  color: white;
}
.formCard_main_div {
  width: 28%;
  height: 558px;
  background: #ffffff;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formCard_main_div_form {
  width: 100%;
  height: 558px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formCard_main_div p {
  text-align: center;
}
.card_dharamShala_main {
  width: 62%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input_div_room {
  display: flex;
  flex-direction: column;
}
.input_div_room label {
  font-size: 16px;
}
.input_div_room input {
  height: 35px;
  width: 100%;
  border: 0.8px solid rgba(197, 191, 191, 0.5);
  border-radius: 5px;
}
.input_div_room select {
  height: 35px;
  border: 0.8px solid rgba(197, 191, 191, 0.5);
  border-radius: 5px;
}
.formCard_main_div button {
  width: 100%;
  height: 35px;
  border: none;
  background: rgba(250, 116, 1, 0.8);
  border-radius: 5px;
  color: white;
}
.view_all_text {
  padding-right: 8%;
}
.view_all_text p {
  font-size: 24px;
  line-height: 36px;
  color: #613916;
  text-align: end;
}
.center_jain_div {
  display: flex;
  justify-content: space-between;
}
.slide_images_div {
  display: flex;
  flex-direction: column;
}
.slide_images_div img {
  width: 300px;
}

.fix_image_size img {
  width: 400px;
  height: 300px;
}

.main_div_center_space {
  padding-left: 2%;
  padding-right: 2%;
}

.fix_image_size_text {
  font-weight: 400;
  margin-top: 7px;
}
.fix_image_size_text_room {
  margin-top: 8px;
}

.addscrollbar_div_lala {
  height: 600px;
  overflow-y: scroll;
}

.fix_image_size_text_center_div {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.sjilder_main_div {
  margin: 1rem;
}
.view_all_main_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: -6%;
  margin-bottom: -1%;
}
.view_all_main_div p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  /* identical to box height */

  color: #613916;
}

.view_all_main_div button {
  width: 92px;
  height: 35px;
  left: 1288px;
  top: 582px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #fa7401;

  background: rgba(250, 116, 1, 0.22);
  border-radius: 5px;
}

.center_wrap_hai_na {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (max-width: 780px) {
  .Reservation_main_div {
    flex-direction: column;
  }
  .formCard_main_div {
    width: 100%;
    margin-bottom: 9%;
  }

  .card_dharamShala {
    width: 100%;
    height: 363px;
  }

  .card_dharamShala_main {
    width: 100%;
  }
  .card_dharamShala img {
    width: 100%;
  }

  .card_dharamShala img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
  }
  .font_text_color {
    font-size: 26px;
    line-height: 36px;
  }

  .font_text_color_p {
    margin-top: 10%;
  }

  .Reservation_main_div {
    padding-left: 4%;
    padding-right: 4%;
  }
}
.checkindateandtime {
  background: linear-gradient(180deg, #f2eeeb 0%, #ededed 100%);
  border-radius: 3px;
  border: none;
  height: 26px;
}
@media screen and (max-width: 780px) {
  .checkindateandtime {
    background: linear-gradient(180deg, #f2eeeb 0%, #ededed 100%);
    border-radius: 3px;
    border: none;
    height: 26px;
    width: 100%!important;
    padding-left: 0.8rem;
  }
  .form_btn_div {
    width: 100%;
    display: flex;
    padding-right: 0%;
    height: 100%;
    padding: 1rem;
    flex-direction: column;
  }
  .labbelddd {
    margin-top: 1rem;
  }
  .sjilder_main_div {
    margin: 1rem;
    margin-top: 14rem;
  }
  .view_all_main_div p {
    font-size: 15px;
    line-height: 52px;
    color: #613916;
  }
  .center_wrap_hai_na {
    display: flex;
    justify-content: center;
    justify-content: center;
  }
  .form_div_absolute {
    width: 93%;
    height: 87%;
    top: 50%;

    left: 0.6rem;
    padding-left: 0%;
    border-radius: 12px !important;
  }
  .main_div_select_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .select_person_div {
    width: 100%;
    height: 26px;
  }

  .input_div_room_main {
    width: 100%;
  }
  .form_div_absolute_form {
    height: 88%;
  }
  .input_div_room input {
    width: 100%;
  }

  .room_book_card_main {
    width: 92%;
    height: 100%;
  }
  .img_div_room_card img {
    height: 89px;
    width: 98px;
  }
  .img_div_room_card {
    width: 80%;
  }

  .img_div_room_card_price_div p {
    font-size: 10px;
    font-weight: 510;
  }

  .btn_Book_Now {
    width: 171px;
    height: 34px;
    margin-right: 4%;
    font-size: 10px;
  }

  .btn_View_Details {
    width: 171px;
    height: 34px;
    font-size: 10px;
  }
}
