.trust_text{
    text-align: center;
    font-size: 23px;
}
.print_all_align{
    padding-right: 1.2rem;
    display: flex;
   justify-content: right;
}
.only_flex  {
    display: flex;
    justify-content: center;
}
.table_main_div{
    display: flex;
    padding-right: 1.3rem;
    padding-left: 5.2rem;
}