.mainbghomediv {
  padding-top: 5rem;
  background: linear-gradient(
    90.65deg,
    rgba(250, 116, 1, 0.4) 0.56%,
    rgba(255, 255, 255, 0.4) 99.48%
  );
  height: 745px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-left-img img {
  width: 500px;
  height: 461px;
  border-radius:9px;
}
.home-right-text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;

  color: #fd7906;

  margin-top: 0px;
  margin-bottom: 0px;
}

.line-1 {
  width: 2px;
  height: 44px;
  border: 2px solid #fa7401;
}

.line-2 {
  width: 2px;
  height: 68px;
  border: 2px solid #fa7401;
}

.line-main-div {
  display: flex;
  width: 31px;
  justify-content: space-between;
  align-items: center;
}

.donation-now-btn {
  width: 260px;
  height: 60px;
  background: #fe7600;
  border-radius: 100px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.main-start-btn-div {
  position: absolute;
}

.main-start-btn-div img {
  position: absolute;
  width: 53px;
  border-top-left-radius: 78px;
  border-bottom-left-radius: 69px;
  border-bottom-right-radius: 80px;
  height: 61px;
}


@media screen and (max-width: 780px) {
  .mainbghomediv {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 6rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 5rem;
}
.home-left-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-left-img img {
  width: 91%;
  height: 100%;
  border-radius: 9px;
}
.home-right-text h2 {
  
  font-size: 209%;
  line-height: 56px;
 
 
  text-align: center;
}

.main-start-btn-div {
  position: absolute;
}

.center-in-phone{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-start-btn-div {
  position: absolute;
  left: 47px;
}
}

