@import "../../../../utils//variables";

.main-reset-password{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}
.forgot-container-main {
  width: 80%;
  min-height: 490px;

  color: #333333;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
}
.forgot-container,
.emailverify-container {
 


  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  .forgot-form {
    width: 350px;

    min-height: 490px;
    border-radius: 10px;
    
    color: $input-text-color;

    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .emailverify-form {
    min-width: 350px;
    // height: calc(100vh - 64px);
    // this is working

    min-height: 460px;
    border-radius: 10px;
  
    color: $input-text-color;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }
  .emailverify-heading {
    margin-top: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
  }
  .emailverify-desc {
    min-width: 350px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding: 0 10px;
    margin-top: 9px;
  }
  .email-add {
    min-width: 350px;
    padding: 0 10px;
    margin-top: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 2.2rem;
    padding-inline: 1.5rem;
    width: 100%;

    .otp-container {
      display: flex;
      justify-content: space-between;
    }

    .otp-input {
      border: 0.7px solid $input-placeholder-color;
      border-radius: 0.5rem;
      outline: none;
      min-width: 2.2rem;
      height: 2.2rem;
    }
  }
  .sendotp {
    margin: 63px 0;
    width: 100%;
  }
}

.forgot-form {
  .heading {
    margin-top: 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
  }
  p {
    width: 74%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $input-text-color;
    text-align: center;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-top: 1rem;
    padding-inline: 1.5rem;
    width: 100%;

    input {
      border: 0.8px solid $input-placeholder-color;
      padding: 0.5rem 0.9rem;
      border-radius: 0.5rem;

      &::placeholder {
        color: $input-placeholder-color;
      }
    }

    & > div {
      font-size: 10px;
      line-height: 15px;
    }

    .login-btn {
      background: $secondary-color;
      font-weight: 500;
      position: relative;
      top: 29px;
      text-decoration: none;
      text-align: center;
      color: $primary-color;
      font-size: 14px;
      line-height: 21px;
      padding: auto 0.5rem;
      outline: none;
      border: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }
}

.verify-container {
  width: 100%;
  height: calc(100vh - 64px);
  display: grid;
  place-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  .verify-form {
    min-width: 350px;
    height: calc(100vh - 64px);

    min-height: 460px;
    border-radius: 10px;
 
    color: $input-text-color;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
  }

  .verify-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 6.6rem;
    padding: 1.5rem;
    width: 100%;

    & > .verify-btn {
      background: $secondary-color;
      font-weight: 500;
      color: $primary-color;
      font-size: 14px;
      line-height: 21px;
      outline: none;
      border: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }
}

@media screen and (max-width: 780px) {

  
}