
$primary-color: #ffffff;
$input-text-color: #333333;
$input-placeholder-color: #b7b7b7;
$line-btw-text: #9F9F9F;

$secondary-color: #E96D00;

$nav-item-color: #464646;
$mrp-color: #808080;
$filter-border: #c3c3c3;

//footer
$background-color: #D9D9D9;
$placeholder-color: #868686;
$background-btn: #7221FF;

//Featured-Product
$font-color: #BFBFBF;
