.add-btn-user2{
    margin-bottom: 8px;
    margin-top: 1rem;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.add-btn-user2 button
{
    border: none;
    /* background: #e96d00; */
    background: #FDC99C;
    color: #05313C;
    padding: 0.4rem 1.5rem;
    border-radius: 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}
.add-btn-user2 button:hover {
    background: hsl(28, 96%, 75%);

  }

.add_role_icons_div{
    display: flex;
    width: 16%;
    justify-content: space-between;
}
