
.add-div-close-div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;
    padding-bottom: 18px;
}
.add-div-close-div1 h2{
    font-weight: 300;
}