.receipt-main-div {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 17rem;
  padding-left: 18rem;
  margin-top: 2rem;
}

.mainbghomediv-receipt {
  background-image: url(/src/assets/bgimg.jpg);
  background-repeat: no-repeat;

  background-position: center;
  background-size: cover;

  width: 100%;
}
.overlay-div-receipt {
  background: white;
  opacity: 0.8;
  width: 100%;
  padding: 1rem;
}
.ttable-receipt-donation {
  width: 100%;
}
.table-receipt-donation,
.td-reciept {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 6px;
  padding-right: 5px;
  border-bottom: none;
}

.note-text-div {
  width: 100%;
  border: 1px solid gray;
  text-align: center;
  padding-left: 4px;
}

.note-text-div p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}
.iss-test-div {
  width: 100%;
  font-size: 14px;
  background: orange;
  text-align: center;
  color: white;
}

.download-print-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}
.down-btn {
  border: none;
  background: #3737d6;
  color: white;
  height: 34px;
  width: 147px;
  border-radius: 22px;
  font-size: 14px;
  font-weight: 500;
}

.bank-color {
  color: red;
}
.recipt-info-div {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}
.recipt-info-div h2 {
  margin-right: 1rem;
}

.receipt-header-div {
  width: 100%;
  height: 105px;
  background: linear-gradient(
    153deg,
    rgb(134 118 89) 75%,
    rgb(211 101 101 / 91%) 68%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.absolute-div-call {
  position: absolute;
  left: 70%;
  z-index: 1;
  top: 7.5%;

  background: rgb(211 101 101);
  border-radius: 25px;
  height: 33px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solis white;
  outline: 2px solid white;
}
.email-header-div {
}
.emil-font-size {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
  margin-bottom: 8px;
  color: white;
}
.serial-div p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 20px;
}
.serial-div {
  background: white;
  width: 98%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.center-div-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shree-text {
  font-size: 12px;
  color: white;
}

.shree-second-text {
  color: #e8a812;
  font-weight: 700;
  font-size: 25px;
}

.shree-third-text {
  color: white;
  font-size: 14px;
}

.shree-four-text {
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.dal-datar {
  background: white;
  text-align: center;
  border-radius: 7px;
  font-size: 13px;
  font-weight: 600;
}
.number-div-header {
  margin-left: 64px;
}

.number-div-header p {
  font-weight: 500;
}
