.generate_report{
    display: flex;
    margin-bottom: 17px;  
}

.generate_report button{
    background-color: #e96d00;
    background-color: #e96d00;
    border: navajowhite;
    color: white;
    padding: 4px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}

.chck_div{
    margin-right: 25px;

}

.chck_div input{
    margin-right: 4px;
}
