.maindiv {
  width: 267px;
  height: 741px;
  background: #ffffff;
  box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 15%);
  border-radius: 0px;
  padding-top: 12px;
}
.adminlogodiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminlogodiv img {
  width: 50.67px;
  height: 50px;
}

.adminlogodiv p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #e96d00;
  margin-top: 0px;
  margin-bottom: 0px;
}
.nav-link {
  display: flex;
  margin-bottom: -5px !important;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  padding-left: 8px;
  margin: 20px;
  height: 45px;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
}
.nav-link-no-dropdown {
  display: flex;
  margin-bottom: -5px !important;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  padding-left: 8px;
  margin: 20px;
  height: 45px;
  width: 100%;

  text-decoration: none;
}

.nav-link-no-dropdown:hover {
  background-color: #e96d00;
  color: white;
}

.nav-link img {
  margin-right: 1rem;
}

.active-nav-link img {
  margin-right: 1rem;
}
.active-nav-link {
  background-color: #e96d00;
  display: flex;
  margin-bottom: -5px !important;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  padding-left: 8px;
  margin: 20px;
  height: 45px;
  width: 100%;
}
.nav-menu {
  list-style: none;
  padding-left: 1px;
}
.nav-item {
  display: flex;
}
.active-nav-link:hover {
  background-color: #e96d00;
  color: white;
}
.nav-link:hover {
  background-color: #e96d00;
  color: white;
}
.showmenu {
  display: block;
}

.hidemenu {
  display: none;
}

.dropdown-toggle {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
